[submodule "plugins/flkv"]
	path = plugins/flkv
	url = git@github.com:metaguardpte/ZPass-Mobile-Plugin-LevelDB.git
	branch = main
[submodule "plugins/zpass_crypto"]
	path = plugins/zpass_crypto
	url = git@github.com:metaguardpte/ZPass-Mobile-Plugin-Crypto.git
	branch = main
[submodule "plugins/p7zip"]
	path = plugins/p7zip
	url = git@github.com:metaguardpte/ZPass-Mobile-Pligin-7z.git
	branch = main
